@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.css';

@layer base {
    html {
        @apply scroll-smooth;
    }
    body {
        @apply bg-stone-100 text-stone-900;
    }
}

@layer components {
    .tw-transition {
        @apply transition duration-300 ease-in-out;
    }
    .tw-embla-container {
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -webkit-tap-highlight-color: transparent;
    }
    .tw-subheading {
        @apply font-serif text-4xl font-bold uppercase md:text-5xl;
    }
    .tw-summary {
        @apply prose font-serif prose-p:text-lg md:prose-p:text-3xl;
    }
    .tw-hero-full {
        min-height: calc(100vh - 96px);
    }
}
